[core]
    editor=nvim
    excludesfile = ~/.gitignore

[user]
    name = Lin Xianyi
    email = iynaix@gmail.com

[branch "master"]
    remote = origin
    merge = refs/heads/master

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[diff]
    tool = nvimdiff
    prompt = false

[merge]
    tool = splice

[mergetool "splice"]
    cmd = "command nvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
    prompt = false
    keepbackup = false
    keeptemporaries = false

[push]
    default = simple

[alias]
	reword = !sh ~/bin/git-reword.sh
