Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: Adwaita
Xcursor.size: 24

*.font: JetBrainsMono Nerd Font Mono:Medium:size=11
*.bold_font: JetBrainsMono Nerd Font Mono:Bold:size=11

st.borderpx: 8
st.termname: st-256color

*.background:     #011627
*.foreground:     #d6deeb
*.cursorColor: #f3f3f3

! black dark/light
*.color0:        #011627
*.color8:        #44596b

! red dark/light
*.color1:        #f78c6c
*.color9:        #ef5350

! green dark/light
*.color2:        #addb67
*.color10:       #22da6e

! yellow dark/light
*.color3:        #ffcb8b
*.color11:       #ffeb95

! blue dark/light
*.color4:        #82aaff
*.color12:       #5ca7e4

! magenta dark/light
*.color5:        #c792ea
*.color13:       #7e57c2

! cyan dark/light
*.color6:        #7fdbca
*.color14:       #21c7a8

! white dark/light
*.color7:        #bec5d4
*.color15:       #ffffff
