[package]
name = "wfetch"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
chrono = "0.4.33"
clap = { version = "4.4.4", features = ["derive", "string"] }
dirs = "5.0.1"
execute = "0.2.13"
gethostname = "0.4.3"
image = "0.24.8"
rand = "0.8.5"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.107"
signal-hook = "0.3.17"
sysinfo = "0.30.5"

[build-dependencies]
clap = { version = "4.4.4", features = ["derive", "string"] }
clap_complete = "4.4.3"

[features]
default = ["wfetch-waifu"]
wfetch-waifu = []

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
enum_glob_use = "deny"
pedantic = "deny"
missing_errors_doc = { level = "allow", priority = 1 }
missing_panics_doc = { level = "allow", priority = 1 }
must_use_candidate = { level = "allow", priority = 1 }
nursery = "deny"
option_if_let_else = { level = "allow", priority = 1 }
unwrap_used = "deny"

[profile.release]
strip = true
lto = true
