[package]
name = "dotfiles"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
chrono = "0.4.38"
clap = { version = "4.5.20", features = ["derive", "string"] }
clap_complete = { version = "4.5.33", features = ["unstable-dynamic"] }
csv = "1.3.0"
dirs = "5.0.1"
execute = "0.2.13"
fast_image_resize = { version = "5.0.0", features = ["image", "rayon"] }
hyprland = { version = "0.4.0-alpha.3" }
image = "0.25.4"
itertools = "0.13.0"
rand = "0.8.5"
rayon = "1.10.0"
regex = "1.11.0"
serde = { version = "1.0.213", features = ["derive"] }
serde_json = "1.0.132"
wallust_themes = "1.0.0"

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
enum_glob_use = "deny"
pedantic = "deny"
missing_errors_doc = { level = "allow", priority = 1 }
missing_panics_doc = { level = "allow", priority = 1 }
must_use_candidate = { level = "allow", priority = 1 }
nursery = "deny"
option_if_let_else = { level = "allow", priority = 1 }
unwrap_used = "deny"

# faster image operations in dev
[profile.dev.package.image]
opt-level = 3

[profile.dev.package.fast_image_resize]
opt-level = 3

[profile.release]
strip = true
lto = true
